matplotlib==3.10.1
numpy==2.2.3
pandas==2.2.3
pillow==11.1.0
pycocotools==2.0.8
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
sympy==1.13.1
threadpoolctl==3.5.0
torch==2.6.0
torch-summary==1.4.5
torchaudio==2.6.0
torchview==0.2.6
torchvision==0.21.0
tqdm==4.67.1